/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
html, body {
    width: 100%;
    height: 100%;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Color Theme
   =================== */

html {
    background-color: black;
}

.header-container,
.nav-container {
    /*background: #180000;*/
    /*background: #1e2c3a;*/
}
.header-container {
    background: #222;
    background: linear-gradient(rgba(34, 34, 34, 1), black);
    background: #EDF3FF;
}
.nav-container {
    background: #CCC;
    background: linear-gradient(rgba(237, 243, 255, 1), rgba(227, 233, 248, 1));
    border-bottom: 1px solid;
    border-color: #aaa;
}
.footer-container {
    background: black;
    background: linear-gradient(rgba(16, 16, 16, 1), black)
}

.title {
    color: white;
}

.nav-container {
    /*    background: linear-gradient(black, rgba(227, 233, 248, 1));*/
    /*background: linear-gradient(#180000, black 20%);*/
    /*background: #000;*/
}

nav a {
    color: #333;
}

nav a:hover {
    color: #C33;
}

.nav-links a {
    border-bottom: 1px solid #aaa;
}

.block-b,
.block-e,
.block-divisor, 
.side-nav {
    background: #DDE;
}
.block-b p, .block-e {
    color: #333;
}

.block-a,
.block-d {
    background-color: black;
}

.block-d {
    background-color: #111;
}

.carousel {
    color: #232323;
}

.carousel-item {
    background-color: #FFF;
}
.carousel-item-party {
    background-color: #660000;
    color: #efeff8;
}
.carousel-item-imgonly {
    background: none;
}

.gallery {
    background-color: #232323;
    background-color: #000;
    color: #EEE;
}

.triangle {
    border-color: #232323 transparent transparent transparent;
}

.about-us {
    background-color: #000;
    color: #CCC
}
.contato {
    color: #ccc;
}
.contato .w3-input {
    color: black;
}

.contato .w3-btn {
    background-color: #CCC;
    color: black;
}



/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: color .4s;
}

nav a:hover {
    /*text-decoration: underline;*/
}

/* ==============
    MOBILE: Main
   ============== */

.main article h1 {
    font-size: 2em;
}

footer {
    color: white;
    /*padding: 20px 0;*/
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom fonts
   ========================================================================== */

@font-face {
    font-family: "Lucida Calligraphy";
    src: url("../fonts/lucidaca.ttf") format("truetype");
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.body-wrapper {
    min-height: 100%;
    position: relative;
}
.main-container {
    padding-bottom: 620px;
    padding-top: 0px;
    margin-top: 0px;
}


.header-container {
    height: 70px;
    text-align: center;
}
.header-container.height-adjuster {
    height: 110px;
}
.main-container.height-adjuster {
}
.title-logo {
    height: 80px; 
    position: absolute;
    left: 5% !important; 
    top: -70px;
    transition: all .3s ease;
}
.navbar-fixed .title-logo {
    opacity: 0;
}

.title {
    width: 100%;
    text-align: center;
}

.nav-container {
    position: relative;
    height: 40px;
    text-align: right;
    font-family: "Lucida Calligraphy", Verdana, Tahoma;
    transition: all .8s;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    /*height: 60px;*/
    /*padding-top: 20px;*/
}
.nav-desk {
    display: inline-block;
    text-align: center;
    width: 100%;
    transition: width .8s ease;
}
.navbar-fixed .nav-desk {
    /*width: 740px;*/
    width: 100%;
}

.desk-nav {
    display: none;
}
.bar-menu {
    float: right;
    margin: 0;
    padding-top: 3px;
}
.side-nav {
    position: relative !important;
    height: 252px !important;
    right: 2.5%;
    overflow: hidden;
    z-index: 2;
}
.nav-close {
    position: absolute;
    right: 0;
}
.nav-links {
    position: absolute;
    width: 100%;
    padding: 4px;
}
.nav-links a {
    width: 100%;
    margin: 0;
    padding: 4px 2px;
}
.nav-links a:last-child {
    border-bottom: 0;
}



.mini-logo {
    width: 150px;
    position: absolute;
    left: 6%;
    top: 5px;
    opacity: 1;
    transition: all .8s;
}
.mini-logo.transp {
    opacity: 0;
    height: 1px;
}

.content-block {
    width: 100%;
    height: 600px;
    text-align: center;
}

.container {
    height: 100%;
    position: relative;
}

.block-a {
    height: 300px;
}
.slider {    
    position: relative;
    height: 100% !important;
    width: 100%;
}
.slider .slides {
    margin: 0;
    height: 100% !important;
}
.slider .slides li {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: inherit;
    overflow: hidden;
}
.slider .slides li img {
    height: 300px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
ul:not(.browser-default) li {
    list-style-type: none;
}

.block-b {
    height: 50px;
    display: table;
}
.block-b p {
    line-height: normal;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    font-family: "Lucida Calligraphy", Verdana, Tahoma;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

.block-divisor {
    height: 15px;
}

.block-c {
    height: 120px;
    transition: height .5s ease;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.parallax img {
    width: 100%;
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.block-d {
    padding: 40px;
    box-sizing: border-box;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 660px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    font-size: 1.3em;
}
.carousel .carousel-item {
    display: none;
    width: 700px;
    height: 600px;
    position: absolute;
    top: 30px;
    left: 0;
    font-family: Georgia, Times New Roman, Times, serif;
    font-style: italic;
}
.carousel-item-imgonly {
}
.carousel-text, 
.carousel-img {
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.carousel-text {
    width: 60%;
    float: left;
}
.carousel-img {
    width: 40%;
    float: right;
}
.carousel-item-imgonly .carousel-img {
    width: 450px;
    float: none;
    margin: 0 auto;
    padding: 0;
}
.carousel-imgtext {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(35,35,35,0.6);
    display: table;
    color: white;
}
.top-text {
    top: 0;
}
.bottom-text {
    bottom: 0;
}
.carousel-imgtext span {
    display: table-cell;
    vertical-align: middle;
}
.carousel-text h2 {
    margin: 10px 0;
    height: 30px;
}
.carousel-text div {
    margin: 10px 0;
    height: 250px;
    padding: 0;
    display: table;
}
.carousel-text p {
    display: table-cell;
    vertical-align: middle;
    overflow-wrap: break-word;
}
.carousel-text span {
}
.carousel-text a {
    margin: 20px 0;
    height: 30px;
}
.carousel-img {
    width: 40%;
    height: 100%;
    float: right;
    padding: 20px;
    box-sizing: border-box;
}

.block-e {
    display: none;
    height: 400px;
}
.map {
    height: 100%;
    width: 100%;
}

.gallery .video-block {
    text-align: center;
    padding: 10px;
}
.gallery .video-block iframe {
    border: none;
    width: 330px;
    height: 186px;
}
.gallery .content-block {
    padding: 20px 0;
    height: auto;
}
.gallery .content-block a {
    display: inline-block;
    height: 160px;
    margin: 10px;
}

.tour.content-block {
    height: 700px;
}

.address {
    text-align: center;
    font-family: Georgia, Times New Roman, Times, serif;
    font-style: italic;
}

.address p {
    margin: 4px 0px;
}

.footer-container {
    height: 620px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.wrapper {
    height: 100%;
}
.footer-logo {
    padding: 10px 0;
}
.footer-center {
    text-align: center;
}

.footer-map {
    width: calc(100% - 40px);
    height: 260px;
    margin: 20px;
}


.triangle {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 10px 10px 0 10px;
}

.about-us, .about-us h1, .about-us h2, .about-us h3, .about-us h4 {
    font-family: "Lucida Calligraphy", Verdana, Tahoma;
}
.about-us article {
    max-width: 800px;
    height: auto;
    padding: 30px 20px;
    margin: 0 auto;
    text-align: left;
}
.about-us section {
    padding-top: 10px;
}
.about-us header p {
    text-indent: 1em;
}
.about-us h1, .about-us h2, .about-us h3 {
    font-weight: bold;
    /*padding-left: 50px;*/
    text-align: center;
    line-height: normal;
}
.about-us p {
    margin: 20px 0;
}

.about-us section ul, .about-us section li {
    list-style-type: disc;
    list-style-position: inside;
}

.contato {
    font-family: "Lucida Calligraphy", Verdana, Tahoma;
    max-width: 800px;
    padding: 40px 10px;
    padding-top: 40px;
    margin: 0 auto;
}
.contato .content-block {
    height: auto;
    padding:  0px 0px;
}
.contato h2 {
    text-align: center;
    /*padding-left: 120px;*/
    margin: 0;
    margin-bottom: 20px;
    font-family: inherit;
    line-height: normal;
    font-size: 28px;
}

.contato .w3-label {
    display: inline-block;
    width: 100px;
    color: inherit;
    text-align: center;
}
.contato .w3-input, .contato .w3-select {
    display: inline-block;
    width: 95%;
    border-color: #CCC;
    margin-left: 0px;
    /*    padding: 5px;*/
}
.contato .w3-select {
    padding: 5px 4px;
}
.contato .w3-input {
    padding: 5px 8px;
}
.contato textarea.w3-input {
    padding: 0px 8px;
}
.contato input.w3-input, .contato .w3-select {
    height: 30px;
    font-family: Helvetica, "Helvetica Neue", Arial;
}
.contato .textarea-label {
    vertical-align: top;
}
.contato .w3-btn {
    /*text-align: right.*/
    float: right;
    margin-right: 20px;
}

/* ==========================================================================
   Author's images
   ========================================================================== */
.slide {
    height: 100%;
}

.apple-slide {
    background-image: url("../img/apple.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 900px;
    margin: 0 auto;
}

.club-parallax-slide {
    background-image: url("../img/club-b.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
}

.carousel-drinks {
    background-image: url("../img/drinks.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.carousel-party {
    background-image: url("../img/party.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.carousel-nightclub {
    background-image: url("../img/nightclub-event.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    display: block;
}
.carousel-folder-a {
    background-image: url("../img/folder-a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    display: block;
}
.carousel-folder-b {
    background-image: url("../img/folder-b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    display: block;
}
.carousel-folder-c {
    background-image: url("../img/folder-c.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    display: block;
}

.carousel-event001 {
    background-image: url("../img/event001.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    display: block;
}

.carousel-event002 {
    background-image: url("../img/event002.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    display: block;
}

.influence-img01 {
    background-image: url("../img/nightclub-event.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}
.influence-b {
    background-image: url("../img/influence-b.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 900px;
}
.influence-c {
    background-image: url("../img/influence-c.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 800px;
}
.influence-d {
    background-image: url("../img/influence-d.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 900px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */

    nav a a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 8px 2%;
        margin-bottom: 0;
    }

    nav a {
        float: left;
        width: auto;
        margin: 0;
        padding: 8px 10px;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    .gallery .video-block iframe {
        border: none;
        width: 440px;
        height: 248px;
    }

    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */

    nav ul li {
        display: inline-block;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

    /* ====================
        WIDE: CSS3 Effects
       ==================== */

    /* ============
        WIDE: Menu
       ============ */

    .title {
        float: left;
    }

    nav {
        /*float: right;*/
        width: 100%;
    }
    .desk-nav {
        display: block;
    }
    .bar-menu, .side-nav {
        display: none !important;
    }

    /* ============
        WIDE: Main
       ============ */

    .block-a, .slider .slides li img {
        height: 500px;
    }
    
    .block-b {
        height: 80px;
    }
    .block-b p {
        font-size: 1.3em;
    }

    .block-c {
        height: 220px;
    }

    .block-d section {
        float: left;
        width: 57%;
    }

    .block-d aside {
        float: right;
        width: 28%;
    }

    footer .wrapper {
        width: 680px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    .main-container {
        padding-bottom: 320px;
    }
    .footer-container {
        height: 320px;
    }
    .w3-half {
        width: 49.99999%;
    }

    .gallery .video-block iframe {
        border: none;
        width: 720px;
        height: 405px;
    }
    .about-us h1, .about-us h2, .about-us h3 {
        padding-left: 50px;
        text-align: left;
    }
    .contato .w3-input, .contato .w3-select {
        width: calc(100% - 120px);
        margin-left: 5px;
    }
    .contato .w3-label {
        text-align: right;
    }
}
@media only screen and (min-width: 840px) {

    footer .wrapper {
        width: 750px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
        Maximal Width
       =============== */

    .block-c {
        height: 300px;
    }

    footer .wrapper {
        width: 1020px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.bold {
    font-weight: bold;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}